.main-canvas {
  font-family: Verdana, Arial, Helvetica, serif;

  background: black;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  height: 2000px;
  width: 2000px;

  .targaryen-title {
    position: absolute;
    //top: 60px;
    //left: 1200px;
    h2 {
      color: #ff00009c;
      text-align: center;
      font-size: 28px;
    }
  }

  .controls {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #3a3a3ad4;
    padding: 10px 15px;
    z-index: 9999;
    button {
      margin-right: 15px;
      font-size: 14px;
      padding: 3px 10px;
    }
    .dev-panel {
      float: right;
      color: #00ff23;
      font-family: monospace;
      padding-right: 50px;
      font-size: 18px;
    }
  }

  .card {
    position: absolute;
    width: 84px;
    height: 122px;
    img {
      //width: calc(84px / 1.5);
      //height: calc(122px / 1.5);
      display: block;
      border: 1px solid red;
      &.veiled {
        //border: 1px solid #b700ff;
        cursor: pointer;
        &:hover {
          box-shadow: 0px -4px 24px 8px #ffa5006b;
        }
      }
    }
    .name {
      text-align: center;
      width: 100%;
      a {
        color: white;
        text-decoration: solid;
        font-family: Verdana, Arial, Helvetica;
        font-size: 14px;
      }
    }
  }

  .mar {
    position: absolute;
    width: 1px;
    height: 1px;
    background: #ffb600;
    //cursor: pointer;
  }
  .par, .par-dash {
    position: absolute;
    width: 1px;
    height: 1px;
    background: #2982f9;
    //cursor: pointer;
  }
  .par-dash {
    background: none;
    border-left: 3px dashed #2982f9;
    border-top: 3px dashed #2982f9;
    border-right: none;
    border-bottom: none;
  }

  .par, .mar, .par-dash, .card {
    &.highlight {
      background: lime;
      box-shadow: 0px 0px 8px 10px rgba(4, 255, 0, 0.35);
    }
  }

  &.fact-1  { .card .name { line-height: 18px; a { font-size: 14px; } } }
  &.fact-09 { .card .name { line-height: 17px; a { font-size: 13px; } } }
  &.fact-08 { .card .name { line-height: 14px; a { font-size: 11px; } } }
  &.fact-07 { .card .name { line-height: 12px; a { font-size: 10px; } } }
  &.fact-06 { .card .name { line-height: 10px; a { font-size: 9px;  } } }
  &.fact-05 { .card .name { line-height: 9px;  a { font-size: 8px;  } } }
}
