.main-canvas {
  background: black;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  height: 3000px;
  width: 2000px;

  .controls {
    position: fixed;
    top: 10px;
    left : 10px;
    z-index: 9999;
    width: 100vw;
    .dev-panel {
      float: right;
      color: #00ff23;
      font-family: monospace;
      padding-right: 50px;
      font-size: 18px;
    }
  }

  .card {
    position: absolute;
    width: 84px;
    height: 122px;
    img {
      display: block;
      border: 1px solid red;
      &.veiled {
        //border: 1px solid #b700ff;
        cursor: pointer;
        &:hover {
          box-shadow: 0px -4px 24px 8px #ffa5006b;
        }
      }
    }
    .name {
      text-align: center;
      width: 100%;
      a {
        color: white;
        text-decoration: solid;
        font-family: Verdana, Arial, Helvetica;
        font-size: 14px;
      }
    }
  }

  .mar {
    position: absolute;
    width: 1px;
    height: 1px;
    background: #ffb600;
    //cursor: pointer;
  }
  .par, .par-dash {
    position: absolute;
    width: 1px;
    height: 1px;
    background: #2982f9;
    //cursor: pointer;
  }
  .par-dash {
    background: none;
    border-left: 3px dashed #2982f9;
    border-top: 3px dashed #2982f9;
    border-right: none;
    border-bottom: none;
  }

  .par, .mar, .par-dash, .card {
    &.highlight {
      background: lime;
      box-shadow: 0px 0px 8px 10px rgba(4, 255, 0, 0.35);
    }
  }


}
