<!--<h1 style="text-align: center">Targaryen Tree</h1>-->
<div class="main-canvas">
  <div class="controls">
    <button (click)="reset()">Reset</button>
    <button (click)="showAll()">Show All</button>
    <!--<button (click)="nextItem()">Next</button>-->
    <button (click)="prevPlain()"><<<<< Prev</button>
    <button (click)="nextPlain()">Next >>>>></button>
    <span style="color: yellow">lastSec = {{ lastSec }}</span>
    <div class="dev-panel">
      <div>SELECT: {{devSel.sec}} - {{devSel.type}}, {{devSel.name}}</div>
      <div>x: {{devSel.x}}, y: {{devSel.y}}, w: {{devSel.w}}, h: {{devSel.h}}</div>
    </div>
  </div>

  <div *ngFor="let item of items">
    <!--<app-card *ngIf="item.type==='guy'" [item]="item" [hidden]="!item.$show"></app-card>-->

    <div class="card" *ngIf="item.type==='guy'" [hidden]="!item.$show"
         [style.left.px]="item.x" [style.top.px]="item.y">
      <img [src]="'../assets/' + item.img" (click)="unveil(item); devSel = item" [class.veiled]="!item.$allShown"/>
      <div class="name"><a target="_blank" [href]="item.extLink">{{ item.name }}</a></div>
    </div>

    <div *ngIf="item.type!=='guy'" (click)="devSel = item"
         [hidden]="!item.$show"
         [ngClass]="item.type"
         [style.left.px]="item.x"
         [style.top.px]="item.y"
         [style.width.px]="item.w"
         [style.height.px]="item.h">
    </div>

  </div>

</div>
